<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Record Reviews</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- JS Styles -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	        crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300&display=swap" rel="stylesheet">
</head>

<body>
<div class="top sticky-top">
	<div class="row">
		<div class="col col-lg-6">
			<h1 class="mheader">RECORD REVIEWS</h1>
		</div>
		<div class="col col-sm-2">
			<a href="/home">HOME</a>
		</div>
		<div class="col col-sm-2">
			{% if u['id'] == -1 %}
			<a href="/">LOGIN</a>
			{% else %}
			<a href="/user/{{u['id']}}">{{u['username']}}</a>
			{% endif %}
		</div>
	</div>
</div>
<div class="container content">
	<div class="row">
		<div class="col my-3">
			<h4 class="i"><a href="/user/{{r['user_id']}}">{{r["username"]}}</a></h4>
			<h3 class="i"><a href="/record/{{r['album_uri']}}">{{r["album_title"]}}</a> | {{t}}
			</h3>
			<p>{{r["text"]}}</p>
			{% if u['id'] == -1 or u['likes'] == 2 %}
			<p>{{u['no_likes']}} users like this review</p>
			{% elif u['likes'] == 0 %}
			<p>{{u['no_likes']}} users like this review | <a href="/review/{{r['id']}}/like">Like</a></p>
			{% else %}
			<p>{{u['no_likes']}} users like this review | <a href="/review/{{r['id']}}/unlike">Unlike</a></p>
			{% endif %}
			{% if u['likes'] == 2 %}
			<a href="/review/{{r['id']}}/delete">Delete Review</a>
			{% endif %}
			<!--<hr class="hr-2">-->
		</div>
	</div>
</div>
<div class="top text-center center">
	<h1 class="xsheader mb-2">SEARCH FOR MORE RECORDS</h1>
	<div class="container">
		<form action="/search" method="POST">
			<div class="row input-group center mx-0">
				<div class="col col-sm-4 mx-auto text-center">
					<input name="search" type="text" class="form-control mb-2" placeholder="Search for albums">
					<input type="submit" value="Submit" class="btn btn-outline-primary">
				</div>
			</div>
		</form>
	</div>
	<a href="/logout">Logout</a>
</div>
</body>
</html>